section.novo {
  width: 98%;
  max-width: 1820px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.novo form {
  width: 100%;
  max-width: 620px;
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.pratos-pequenos {
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  max-width: 400px;
}

#pequeno {
  width: 100%;
  position: relative;
}

div#pequeno i {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 50%;

}

#pequeno h3 {
  font-size: 0.9rem;
}

h3.titulo-valor {
  color: #fff;
  margin: 0.6rem 0 0 0;
}