section.formulario {
  width: 98%;
  max-width: 1820px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.formulario form {
  width: 100%;
  max-width: 620px;
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.formulario form input {
  max-width: none;
}

section.formulario form select {
  max-width: none;
}

section.formulario form textarea {
  max-width: 620px;
}

section.formulario form button {
  max-width: none;
}

div.pratos-pequenos {
  position: relative;
  overflow: auto;
  height: 12rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0.5rem;
  width: 100%;
}

div.pratos-pequenos::-webkit-scrollbar {
  display: none;
}

#pequeno {
  width: 100%;
  position: relative;
}

div#pequeno i {
  color: #fff;
  background-color: #f44;
  cursor: pointer;
  top: 0.6rem;
  right: 0.6rem;
  padding: 0.5rem;
  border-radius: 50%;
  position: absolute;
}

#pequeno h3 {
  font-size: 0.9rem;
}

h3.titulo-valor {
  color: #fff;
  margin: 0.6rem 0 0 0;
}

@media screen and (max-width: 678px) {
  div.pratos-pequenos {
    grid-template-columns: 1fr 1fr;
    height: 13rem;
  }
}