div.cadastro {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.cadastro {
  width: 98%;
  max-width: 580px;
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
}

section.cadastro h1 {
  font-size: clamp(1.8rem, 8vw, 2.4rem);
  text-align: center;
  color: #fff;
}

div.header-cadastro {
  background-color: rgb(63, 63, 63);
  padding: 1.4rem 0;
}

form.form-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding: 0.6rem 0 0 0;
}

form.form-cadastro input {
  font-size: 1.01rem;
  height: 2.4rem;
  width: 100%;
  padding: 0.4rem;
  outline: none;
}

form.form-cadastro button {
  font-size: 1.01rem;
  width: 100%;
  height: 2.6rem;
  border: none;
  background-color: rgb(63, 63, 63);
  color: #fff;
  transition: all 0.2s;
}

form.form-cadastro button:hover {
  background-color: rgb(53, 53, 53);
}

div.cadastro p {
  margin-top: 0.6rem;
  text-align: center;
  font-size: clamp(0.9rem, 3vw, 1.08rem);
}

div.cadastro a {
  color: rgb(63, 63, 63);
  text-decoration: none;
}

div.cadastro a:hover {
  text-decoration: underline;
}