div.background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
}

div.card {
  background-color: #fff;
  width: 98%;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
}

div.card h2 {
  margin: 0.2rem 0;
  color: #111111;
}

div.card img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

div.infos {
  width: 96%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  gap: 0.4rem;
}

button.card {
  color: #fff;
  background-color: rgb(255, 53, 53);
  border-radius: 1rem;
  width: 100%;
  max-width: none;
}

span.valor {
  margin: 0.8rem 0 0 0;
}